.content__allMoreShopping {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--ColorSoftGrayLigther);
  padding: 0 var(--space-16);

  .moreShopping {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);

    .bx-introductionMoreShopping {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-4);

      .txt {
        width: 50ch;
        color: var(--ColorBlack);
        font-size: var(--font-size-xl);
        text-align: center;
      }
    }

    .content__cardsProductsMoreShopping {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--space-8);

      .cardProduct_moreShopping {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);

        .bx-imageMoreShopping {
          position: relative;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          aspect-ratio: 1;
          width: 100%;
          min-height: 200px;
          border-radius: var(--radius-lg);
          box-shadow: var(--shadow-lg);
          overflow: hidden;
          transition: var(--transition-slow);
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;

          .bx-iconArrowCardProductShopping {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: var(--transition-slow);

            .bxf {
              font-size: 3rem;
              color: var(--color-bg);
            }
          }

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: hsl(30, 11%, 11%, 75%);
            opacity: 0;
            transition: var(--transition-slow);
            z-index: -1;
          }

          &:hover {
            .bx-iconArrowCardProductShopping {
              opacity: 1;
            }

            &::before {
              opacity: 1;
            }
          }
        }

        .contentInfoProduct-shopping {
          display: flex;
          flex-direction: column;
          gap: var(--space-2);

          .contain-objet {
            display: flex;
            align-items: center;
            gap: var(--space-1);

            .typeApply,
            .typeProduct {
              font-size: var(--font-size-xs);
              letter-spacing: 0.5px;
              color: var(--ColorBrowmBlack);
              text-transform: uppercase;
            }

            .circle {
              width: 5px;
              height: 5px;
              background-color: var(--ColorBrowmBlack);
              border-radius: 999px;
            }
          }

          .bx-titleAndPrice {
            display: flex;
            align-items: end;
            justify-content: space-between;

            .titleThreed {
              font-size: var(--font-size-xl);
              color: var(--ColorBlack);
            }

            .priceProduct {
              color: var(--ColorGray);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .content__allMoreShopping {
    padding: var(--space-6);

    height: 100%;

    .moreShopping {
      .content__cardsProductsMoreShopping {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .cardProduct_moreShopping {
          width: 100%;

          .bx-imageMoreShopping {
            height: 300px;
            background-size: contain;
            background-color: white;
          }

          .contentInfoProduct-shopping {
            .contain-objet {
              .typeApply,
              .typeProduct {
                font-size: 10px;
              }
            }

            .bx-titleAndPrice {
              .titleThreed {
                font-size: var(--font-size-base);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  .content__allMoreShopping {
    padding: var(--space-8) var(--space-4);

    .moreShopping {
      .bx-introductionMoreShopping {
        .txt {
          width: 100%;
          font-size: var(--font-size-base);
        }
      }

      .content__cardsProductsMoreShopping {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);

        .cardProduct_moreShopping {
          .bx-imageMoreShopping {
            height: 300px !important;
          }
        }
      }
    }
  }
}
